<!DOCTYPE html>
<!-- 제증명 -->
<!-- {% load static %} -->
<html lang="ko">
<head>
    <title> KIOSK </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="patient-container">
        <form method="get" action="search/consultations/" id='myForm'>
            <input type='hidden' name='patient_id' id='selected_id' value='{{ patient }}'/>
            <input type='date' name='start_date' id='start_date' onchange="setMinEndDate()"/>
            <input type='date' name='end_date' id='end_date' onchange="setMaxStartDate()"/>
        </form>
        <button tpye='button'  id="btn-find" name='search_consultations' onclick="search_consultations()">조회</button>
    </div>
    <footer role="contentinfo" onclick="moveChat()">
        <div class="footer_wrap">
            <img src="/images/bot_image.png" id="bot_img"><div class="footer_block">저를 누르면 음성으로 대화 가능해요<br>무엇이든 물어보세요!</div>
        </div>
    </footer>
</body>
<script>
    function setMinEndDate() {
        var startDate = document.getElementById('start_date').value;
        document.getElementById('end_date').min = startDate;
    }

    function setMaxStartDate() {
        var endDate = document.getElementById('end_date').value;
        document.getElementById('start_date').max = endDate;
    }

    function setDefaultDates() {
        var today = new Date().toISOString().split('T')[0]; // Get today's date in YYYY-MM-DD format
        document.getElementById('start_date').value = today;
        document.getElementById('end_date').value = today;
        setMinEndDate();
        setMaxStartDate();
    }

    // Set default dates on page load
    window.onload = setDefaultDates;
    function toQueryString(params) {
        return '?' + Object.keys(params)
            .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(params[key]))
            .join('&');
    }

    function search_consultations(){
            const form = document.getElementById('myForm');
            const formData = new FormData(form);
            const jsonObject = {};
            selected_id = document.getElementById('selected_id');

            formData.forEach((value, key) => {
                jsonObject[key] = value;
            });

            const jsonString = JSON.stringify(jsonObject);  

            url = `https://14ba-14-36-58-174.ngrok-free.app/consultations/search/consultations` + toQueryString(jsonObject);

            fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data);
                alert(JSON.stringify(data));
                alert(selected_id.value);
                // 응답받은 json 데이터를 get 방식으로 보내기 위한 과정
                var queryParams = new URLSearchParams();
                queryParams.append('json_data', JSON.stringify(data));
                queryParams.append('patient_id', selected_id);
    
                // window.location.href를 사용하여 새로운 페이지로 이동
                //window.location.href = '/consultations/search/consultations/page?' + queryParams.toString();
            })
            .catch(error => console.error('Error:', error));
    }

    function moveChat(){
        location.href = "chat.html";
    }
</script>
</html>
