<!DOCTYPE html>
<!-- 제증명 -->
<!-- {% load static %} -->
<html lang="ko">
<head>
    <title> KIOSK </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    {% include 'header.html' %}
    <form name="patient" method="get" id="myForm" action="afpayment/detail/<int:id>/">
        <div class="patient-container">
            <input type='hidden' id='detailconsul_list' value='{{detailconsul_list}}'>
            <p id="patient-text">환자 목록</p>
            <div id="patient-list">
                <table>
                    <thead>
                        <tr>
                            <th>선택</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for list in detailconsul_list %}
                            <tr>
                                <td><input type="radio" name="selected_list" value="{{ list.id }}" onclick="toggleRadio(this)"></td>
                                <td>{{ list.consultation_date|date:"n월 j일 G:i" }}</td>
                                <td>{{ list.doctor_id.doctor_name }}</td>
                                <td>{{ list.doctor_id.department.departments_name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <button type='button' id="select-btn" onclick='check_radio()'>세부내역확인</button>
        </div>
    </form>
    <footer role="contentinfo" onclick="moveChat()">
        <div class="footer_wrap">
            <img src="/images/bot_image.png" id="bot_img"><div class="footer_block">저를 누르면 음성으로 대화 가능해요<br>무엇이든 물어보세요!</div>
        </div>
    </footer>
</body>
<script>
    function toQueryString(params) {
        return '?' + Object.keys(params)
            .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(params[key]))
            .join('&');
    }

    function toggleRadio(radio) {
        if (radio.wasChecked) {
            radio.checked = false;
        }
        // Toggle the `wasChecked` state
        radio.wasChecked = radio.checked;
    }

    function check_radio(){
        radios = document.getElementsByName('selected_list');
        let checked = false;
        let selected_id = null;

        for (var i = 0; i < radios.length; i++) {
            if (radios[i].checked) {
                checked = true;
                selected_id = radios[i].value;
                break;
            }
        }

        if (checked) {
            int_id = Number(selected_id);

            url = `https://1bd8-218-147-139-139.ngrok-free.app/consultations/afpayment/detail/${int_id}/`;
            
            fetch(url)
            .then(response => response.json())
            .then(data => {
                console.log(data);

                // 응답받은 json 데이터를 get 방식으로 보내기 위한 과정
                var queryParams = new URLSearchParams();
                queryParams.append('json_data', JSON.stringify(data));
    
                // window.location.href를 사용하여 새로운 페이지로 이동
                window.location.href = '/consultations/detailconsul/page?' + queryParams.toString();
            })
            .catch(error => console.error('Error:', error));

        } else {
            alert('선택해주세요');
        }
    }

    function moveChat(){
        location.href = "../chatbot";
    }
</script>
</html>
