<!DOCTYPE html>
<!-- 본인인증 페이지 -->
<!-- {% load static %} -->
<html lang="ko">
<head>
    <title> KIOSK </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/hangul.js" type="text/javascript"></script>
    <script src="../static/keyboard.js" type="text/javascript"></script>
    <script src="../static/auth.js"></script>
</head>
<body>
    <header>
        <div class="header_wrap">
            <button type="button" id="home" onclick="moveIndex()"><img src="../images/home_icon3.png" id="hi"></button>
            <img src="../images/title_image2.png" alt="AIVH" id="logo">
            <button type="button" id="prev" onclick="history.back()"><img src="../images/prev_icon3.png" id="pi"></button>
        </div>
    </header>
    <div class="keyboard-container">
        <div class="auth-name">
            <p id="auth-input1">이 름</p>
            <input type="text" id="name-input" placeholder="이름을 입력해주세요" />
        </div>
        <div class="auth-other">
            <ul id="auth-radio">
                <li><input name="auth-chk" type="radio" id="auth-input2" value="1" checked="true" onclick="div_toggle()"><label for="auth-input2" style="font-size: 30px;">생 년 월 일</label></li>
                <input type="date" id="birth-input1" placeholder="생년월일을 입력해주세요" style="display: block;"/>
                <!-- <li><input name="auth-chk" type="radio" id="auth-input2" value="1" checked="true" onclick="div_toggle()"><label for="auth-input2" style="font-size: 30px;">생 년 월 일(ex 991012)</label></li> -->
                <!-- <input type="text" id="birth-input1" placeholder="생년월일 6자리를 입력해주세요" style="display: block;"/> -->
                <li><input name="auth-chk" type="radio" id="auth-input3" value="2" onclick="div_toggle()"><label for="auth-input3" style="font-size: 30px;">환 자 번 호</label></li>
                <input type="text" id="birth-input2" placeholder="환자번호를 입력해주세요" style="display: none;"/>
            </ul>
        </div>
    </div>
    <script>
        function div_toggle(){
            const selectedValue = document.querySelector('input[name="auth-chk"]:checked').value;
            const inputBox1 = document.getElementById('birth-input1')
            const inputBox2 = document.getElementById('birth-input2')

            if(selectedValue == "1"){
                inputBox1.style.display = "block";
                inputBox2.style.display = "none";
            }
            else if(selectedValue == "2"){
                inputBox1.style.display = "none";
                inputBox2.style.display = "block";
            }
        }
    </script>
    <div class="btn-wrap">
        <button type="button" id="btn-find" onclick="movePlist()">조 회</button>
    </div>
    <div id="keyboard-div"></div>
    <footer role="contentinfo" onclick="moveChat()">
        <div class="footer_wrap">
            <img src="../images/bot_image.png" id="bot_img"><div class="footer_block">저를 누르면 음성으로 대화 가능해요<br>무엇이든 물어보세요!</div>
        </div>
    </footer>
</body>
<script>
    function moveIndex(){
        location.href = "index.html";
    }
    function movePlist(){//환자의 정보 넘겨주도록 수정할것!
        location.href = "payment_auth2.html";
    }
    function moveChat(){
        location.href = "chat.html";
    }
</script>
</html>
