<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header_wrap">
            <button type="button" id="home" onclick="moveIndex()"><img src="/images/home_icon3.png" id="hi"></button>
            <img src="/images/title_image2.png" alt="AIVH" id="logo">
            <button type="button" id="prev" onclick="history.back()"><img src="/images/prev_icon3.png" id="pi"></button>
        </div>
    </header>

    <script>
        var home = document.getElementById('home')
        var prev = document.getElementById('prev')

        function moveIndex(){
            window.location.href = '/';
        }

    </script>
</body>
</html>