<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class="header_wrap">
            <button type="button" id="home" onclick="playSoundAndMove('/')"><img src="/images/home3.png" id="hi"></button>
            <img src="/images/title_image2.png" alt="AIVH" id="logo">
            <button type="button" id="prev" onclick="playSoundAndMove('back')"><img src="/images/prev3.png" id="pi"></button>
        </div>
    </header>

    <!-- 오디오 파일 추가 -->
    <audio id="click-sound" src="/static/sounds/click-sound.mp3"></audio>

    <script>
        function playSoundAndMove(destination) {
            var audio = document.getElementById('click-sound');
            audio.play();

            audio.onended = function() {
                if (destination === 'back') {
                    history.back();
                } else {
                    window.location.href = destination;
                }
            };
        }
    </script>
</body>
</html>