<!DOCTYPE html>
<!-- 메인메뉴 페이지 -->
{% load static %}
<head>
    <title> KIOSK </title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="header_wrap">
            <!-- <button type="button" id="home"><img src="../images/home_icon3.png" id="home-hi"></button>없는 버튼 -->
            <div class="clock-wrap">
                <div id="cur-day">clock</div>
                <div id="cur-time">clock</div>
            </div>
            <script>
                var Target = document.getElementById("cur-day");
                var Target2 = document.getElementById("cur-time");
                function clock(){
                    var time = new Date();
                    var year = time.getFullYear();
                    var month = time.getMonth() + 1;
                    var date = time.getDate();
                    var day = time.getDay();
                    var week = ['일', '월', '화', '수', '목', '금', '토'];
                    var hours = time.getHours();
                    var minutes = time.getMinutes();
                    //var seconds = time.getSeconds();
                    
                    //Target.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}:${seconds < 10 ? `0${seconds}` : seconds}`;
                    Target.innerText = `${year}-${month < 10 ? `0${month}` : month}-${date < 10 ? `0${date}` : date} (${week[day]})`;
                    Target2.innerText = `${hours < 10 ? `0${hours}` : hours}:${minutes < 10 ? `0${minutes}` : minutes}`;
                }
                clock();
                setInterval(clock, 1000);
            </script>
            <img src="../images/title_image2.png" alt="AIVH" id="home-logo">
            <button type="button" id="prev" onclick="moveAdmin()"><img src="../images/prev_icon3.png" id="home-pi"></button><!-- admin 페이지 이동 버튼 / 보이지 않음 -->
        </div>
    </header>
    <div class="section-container">
        <section class="reception" onclick="moveRecept()">
            <img src="../images/recept_icon.png" alt="recept" id="recept-icon">
            <p class="home-recept">접 수</p>
        </section>
        <section class="received" onclick="moveReceive()">
            <img src="../images/receive_icon.png" alt="receive" id="receive-icon">
            <p class="home-receive">수 납</p>
        </section>
        <section class="print" onclick="movePrint()">
            <img src="../images/print_icon.png" alt="print" id="print-icon">
            <p class="home-print">제 증 명</p>
        </section>
        <section class="navigate" onclick="moveNavigate()">
            <img src="../images/map-icon.png" alt="navigate" id="map-icon">
            <p class="home-navigate">길 찾 기</p>
        </section>
    </div>
    <section class="chat" onclick="moveChat()">
        <img src="../images/bot_image.png" alt="chatbot" id="chat-icon"><div class="home-chat">저를 눌러서<br>음성으로 무엇이든 물어보세요!</div>
    </section>
</body>
<script>
    function moveRecept(){
        location.href = "/patients/recept";
    }
    function moveReceive(){
        location.href = "/payments/payment_patient_search";
    }
    function movePrint(){
        location.href = "/consultations/search";
    }
    function moveNavigate(){
        location.href = "nav-search.html";
    }
    function moveChat(){
        location.href = "/chatbot/";
    }
    function moveAdmin(){
        location.href = "http://127.0.0.1:8000/admin";
    }
</script>
</html>
